/* Estilo para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo para la barra de navegación */
nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    padding: 20px;
    margin: 0px ;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo para la sección principal */
section {
    padding: 20px;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo para el carrusel de imágenes */
.carousel {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    display: none;
}

/* Estilo para los enlaces en el carrusel */
.carousel a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Estilo para los puntos indicadores del carrusel */
.carousel-indicators {
    text-align: center;
    margin-top: 10px;
}

.carousel-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333;
    margin: 0 5px;
    cursor: pointer;
}

/* Estilo para el punto indicador activo */
.carousel-indicators span.active {
    background-color: #fff;
}
